body {
  font-family: Arial, Helvetica, sans-serif;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

h1 {
  text-align: center;
  color: purple;
}

select,
input {
  margin: 5px;
  /* width: 250px; */
  /* padding: 5px; */
  height: 50px;
  font-size: 18px;
}

button {
  margin: 5px;
  padding: 8px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.page button {
  margin: 30px 5px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;

}

.page button:hover {

  border: 3px solid #a6a6a6;
}
